<!DOCTYPE html>
<html>

<head>
    <link rel="shortcut icon" href="/resources/favicon.ico">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Signup - WorldClock</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.js"></script>

    <link href="/stylesheets/login.css" media="screen" rel="stylesheet" type="text/css">
    <link href="https://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.min.css" media="screen" rel="stylesheet" type="text/css">

    <script src="/js/signup.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js" type="text/javascript"></script>

    <script src="/js/sweetalert.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/sweetalert.css">

    <script src="https://apis.google.com/js/platform.js"></script>
    <meta name="google-signin-client_id" content="386135338151-ivmth2dovbcd1si07vcbc3kjke0qa9bc.apps.googleusercontent.com">
    <script>
        var googleUser = {};
        var startApp = function() {
            gapi.load('auth2', function() {
                // Retrieve the singleton for the GoogleAuth library and set up the client.
                auth2 = gapi.auth2.init({
                    client_id: '386135338151-ivmth2dovbcd1si07vcbc3kjke0qa9bc.apps.googleusercontent.com',
                    cookiepolicy: 'single_host_origin',
                    'scope': 'https://www.googleapis.com/auth/plus.login'
                });
                attachSignin(document.getElementById('google-connect'));
            });
        };

        function attachSignin(element) {
            auth2.attachClickHandler(element, {},
                function(googleUser) {
                    var data = {
                        userID: googleUser.getBasicProfile().getId(),
                        accessToken: googleUser.getAuthResponse(true).access_token
                    }
                    // console.log(data);
                    $.ajax({
                        url: 'https://worldclock-intern.herokuapp.com/gglogin',
                        type: 'POST',
                        data: JSON.stringify({
                            userID: googleUser.getBasicProfile().getId(),
                            accessToken: googleUser.getAuthResponse(true).access_token
                        }),
                        dataType: 'json',
                        headers: {
                            'Content-Type': "application/json; charset=utf-8",
                            'Accept': 'application/json',
                        },
                        success: function(data, status, jqXHR) {
                            // console.log(data);
                            sessionStorage.setItem("get_token", data.token);
                            sessionStorage.setItem("get_email", data.displayname);
                        },
                        complete: function(xhr, data) {
                            if (xhr.status == 200) {

                                swal("Success", "Login successfully", "success");
                                setTimeout(function() {
                                    window.location.href = "/dashboard";
                                }, 200);
                            } else swal("Failed!", "Login fail", "error")
                        }
                    });
                },
                function(error) {
                    alert(JSON.stringify(error, undefined, 2));
                });
        }
    </script>

</head>

<body>

    <script>
        window.fbAsyncInit = function() {
            FB.init({
                appId: '1533337373396801',
                cookie: true,
                xfbml: true,
                version: 'v2.9'
            });
            FB.AppEvents.logPageView();
        };

        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>


    <div id="wrap" class="wrap">
        <div class="wrap-inner">
            <div class="section" id="section1">
                <h1 class="logo">
                    <a href="/" title="World Clock"></a>
                </h1>
                <div class="form form--login">
                    <h1 class="alpha">Signup in seconds!</h1>
                    <div>
                        <form class="form-wrap">
                            <input id="email" class="inputbox" type="email" name="email" placeholder="Email Address" required/>
                            <input id="password" class="inputbox" type="password" name="password" placeholder="Password" required/>
                            <input id="confirm_password" class="inputbox" type="password" name="confirm_password" placeholder="Confirm Password" required/>
                            <button type="submit">Create My Account</button>
                        </form>
                    </div>
                    <hr />
                    <p>or sign up with one of these services</p>
                    <div class="social">
                        <button id="facebook-connect" stype="button" style="cursor: pointer;">
                            <div class="provider-button"> <img src="/resources/facebook-logo.svg"> Facebook </div>
                        </button>
                        <button id="google-connect" type="button" style="cursor: pointer;">
                            <div class="provider-button"> <img src="/resources/google-logo.svg"> Google </div>
                        </button>

                        <script> startApp(); </script>

                    </div>
                    <p>Already have an account? <a class="scroll" href="/login">Login here</a></p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
